* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

main{
    position: relative;
}
body {
    background-image: url(../images/site/small_check.jpg);
    z-index: -1;
}

#wrap {
    background-color: #fff;
}

header div a {
    color: black;
    text-decoration: none;
}


nav .navigation li a {
    color: #fff;
    text-decoration: none;
}

.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top_nav .logo1 {
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.top_nav div, div .padding {
    margin-right: 35px;
    position: relative;
}

.top_nav div a {
    padding: 5px;
}

.main-nav {
    background-color: #3a3a3a;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
}

.title {
    font-size: 20px;
    color: #3a3a3a;
    padding: 30px 5px;
}

.title-upgrades {
    font-size: 20px;
    color: #3a3a3a;
    padding: 30px 35px;
}

.car-title{
    padding: 25px;
}

.car_info {
    color: blue;
}

.car {
    width: 100%;
}

.own_today {
    text-align: center;
    padding-top: 15px;
}

.own_today img {
    width: 50%;
}

.card {
    padding: 10px;
}

.card ul {
    list-style: none;
}

.comments {
    font-size: 12px;
    padding-left: 40px;
    letter-spacing: 2px;
}

.comments li {
    padding: 3px;
}

.upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    object-fit: contain;
    gap: 5px;
    margin: 5px;
}

.upgrades div div {
    width: 150px;
    height: 71.5px;
    background-color: #4c96d7;
    border: 1px solid;
}

.upgrades div div img {
    margin: auto;
    display: block;
}

.upgrades div p {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 25px;
}

footer div {
    padding-bottom: 20px;
}

footer div p {
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
}

span {
    content: "";
    display: block;
    /* border-bottom: 3px solid #3a3a3a; */
}

.reviews {
    padding-left: 30px;
}

.error{
    color: #3a3a3a;
    padding: 30px 0px 10px 30px;
}

.error_message{
    color: #3a3a3a;
    padding: 0px 0px 20px 40px;
}

.first {
    padding-top: 10px;
}

.signin-size{
    max-width: 280px;
}

.signin{
    padding: 25px;
}

.note{
    padding-left: 25px;
}

form{
    padding: 0 30px;
}

label, input{
    margin: 5px;
    width: 100%;
}

.registration form label, input{
    width: 250px;
    padding: 2px;
}

.registration form p{
    padding: 5px 27px 5px 7px;
}

.text-center, .signup{
    text-align: center;
}

#regbtn, #regbtn2, #regbtn3, #pss-show{
    padding: 9px 25px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    color: white;
    background-color: black;
}

#regbtn:hover{
    color: white;
    background-color: black;
}
#regbtn2:hover{
    color: white;
    background-color: black;
}

.signup{
    padding: 10px 0;
}

.dropdownlist{
    margin: 10px 50px;
    padding: 2px;
}

.title-vehicle{
    text-align: center;
    padding: 20px;
}

.add-options, .options{
    margin: 15px 50px;
    display: block;
    color: black;
    max-width: 350px;
}

.add-options:hover{
    color: #4c96d7;
}

.message{
    padding: 15px 30px;
}

.restriction{
    padding-left: 7px;
}

.user{
    padding: 20px;
}

.user-p{
    padding: 5px 20px;
}

.user-info{
    padding-left: 40px;
    list-style: none;
}

table{
    margin:auto;
}

th{
    padding-top: 10px;
}
.td-table, .tr-table{
    padding: 5px;
}

.newPassword{
    padding-left: 30px;
}

#pss-show{
    width: 10px;
}

.center{
    max-width: 315px;
}

.color{
    color: red;
}

.click{
    width: 20px;
}

#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
   
#inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
}
   
#inv-display li img {
    max-width: 100%;
}

.height-auto{
    height: 150px;
}

hr{
    border: 2px solid;
}

#inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
}

#inv-display h2{
    font-size: 1rem;
}

#inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
#inv-display div {
    width: 100%;
}

.info-vehicle{
    max-width: 400px;
    margin: auto;
}

.info-vehicle img{
    width: 100%;
}

.grey-box{
    background-color: rgb(242, 235, 235);
}

.car-info{
    padding: 10px;
}

.car-info1{
    padding: 12px;
}

.car-info2{
    padding: 0 12px;
}

.car-lists{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.car-lists img{
    border-radius: 10px;
}

.search-img{
    width: 25px;
    position: absolute;
    top: -5px;
}

.listDescription{
    padding: 0px 40px;
}

.listTitle{
    padding: 25px 0 5px 40px;
}

.searchQues{
    padding: 15px 35px;
}

.searchError{
    padding: 15px 5px;
}

.searchResult{
    padding: 15px 35px;
}

.pages li a, .pages a{
    text-decoration: none;
    color: blue;
}

.active:active{
    color: green;
}

.page-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    width: 60%;
}

.pages{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

@media only screen and (min-width: 700px) {
    #wrap {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        border: 5px solid #4c96d7;
        border-radius: 10px;
    }

    .top_nav .logo1 {
        width: 20%;
        padding-bottom: 20px;
    }

    /* table{
        position:none; margin: 0 ; 
    } */

    tbody{
        width: 400px;
        float: left;
        margin-left: 45px;
    }

    .display-information{
        display: flex;
    }

    .info-vehicle img{
        width: 240px;
        margin: 10px 20px;
    }

    .car-info{
        margin: 0 20px 0 0;
    }

    .page-container{
        width: 30%;
    }

    .car-info2 {
        padding: 0px 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .reviews-upgrades {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #wrap {
        max-width: 900px;
    }

    .comments {
        font-size: 11px;
    }

    .comments li {
        padding: 6px;
    }

    .reviews {
        grid-column: 2/3;
    }

    .upgrades-grid {
        grid-row: 1/2;
    }

    .navigation {
        /* max-width: 400px; */
        font-size: 20px;
        padding-top: 9px;
    }

    nav {
        height: 40px;
    }

    .own_today img {
        width: 16%;
        position: absolute;
        top: 18%;
        left: 3%;
    }

    .card {
        padding: 0 0 0 40px;
    }

    .top_nav .logo1 {
        width: 20%;
    }

    .signin-size{
        max-width: 400px;
    }


}

@media only screen and (min-width: 1400px) {
    .own_today img {
        width: 11%;
        top: 18%;
        left: 4%;
    }
}